<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Carte</a>
        <a class="navbar-brand" href="/chart">Graphe</a>
    </nav>
    <div style="width: 90%;">
        {{ chart_1 | safe }}
        {{ chart_2 | safe }}
        {{ chart_3 | safe }}
    </div>
</body>
</html>
