<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<form id="date-form">
    <label for="start_datetime">Date debut figure:</label>
    <input type="date" id="start_datetime" name="start_datetime">
    <label for="end_datetime">fin figure:</label>
    <input type="date" id="end_datetime" name="end_datetime">
    <button type="submit">Mise à jour figure</button>
</form>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Carte</a>
        <a class="navbar-brand" href="/chart">Graphe</a>
    </nav>
    <div style="width: 90%;">
        {{ chart_1 | safe }}
        {{ chart_2 | safe }}
        {{ chart_3 | safe }}
    </div>
</body>
</html>
